<form class="item">
  <div>
    <label for="nameUser" class="form-label">Nombre: </label>
    <input
      type="text"
      placeholder="Ingrese nombre"
      name="nameUser"
      [(ngModel)]="nameUser"
    />
  </div>
  <div>
    <label for="lastnameUser" class="form-label">Apellido: </label>
    <input
      type="text"
      placeholder="Ingrese Apellido"
      name="lastnameUser"
      [(ngModel)]="lastnameUser"
    />
  </div>
  <div>
    <label for="jobUser" class="form-label">Oficio: </label>
    <input
      type="text"
      placeholder="Ingrese Oficio"
      name="jobUser"
      [(ngModel)]="jobUser"
    />
  </div>

  <button type="submit" class="btn btn-primary" (click)="AddPerson()">+</button>
</form>
