<div class="container mt-5">
  <h2 class="text-center text-primary">Lista de Productos</h2>
  <ul class="list-group w-50 mx-auto">
    @for (producto of productos; track producto) {
    <li class="list-group-item text-center">
      {{ producto.descripcion }}, ${{ producto.precio }}
    </li>
    }
  </ul>
  <!-- <app-products></app-products> -->
  <h5 class="text-success my-3 text-center">Agregar Nuevo Producto</h5>
  <form
    action=""
    class="d-flex justify-content-between align-items-center my-4 w-50 mx-auto"
  >
    <div class="input-group">
      <label>Nombre</label>
      <input
        id="descripcion"
        name="descripcion"
        type="text"
        placeholder="Descripcion del producto"
        class="form-control me-2 w-75"
        autocomplete="off"
        [(ngModel)]="descripcionInput"
      />
    </div>
    <div class="input-group">
      <label>Precio</label>
      <input
        id="precio"
        name="precio"
        type="number"
        placeholder="Precio del producto"
        class="form-control me-2 w-75"
        autocomplete="off"
        [(ngModel)]="precioInput"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="agregarProducto()">
      Agregar
    </button>
  </form>
</div>
